/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Times New Roman', Times, serif, sans-serif;
    line-height: 1.6;
    background-color: #f9f9f9;
    overflow-x: hidden;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #c96377;
    color: rgb(245, 245, 245);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.logo {
    font-size: 2rem;
    font-weight: bold;
}

.nav-menu {
    display: flex;
    list-style: none;
}

.nav-menu li {
    margin-left: 20px;
}

.nav-menu a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
}

.nav-menu a:hover, .nav-menu a.active {
    border-bottom: 2px solid white;
}

.auth-buttons {
    display: flex;
}

.auth-buttons button {
    background-color: rgb(236, 236, 236);
    color: #d8697f;
    border: none;
    padding: 0.5rem 1rem;
    margin-left: 10px;
    cursor: not-allowed;
}

.auth-buttons button:hover {
    opacity: 0.7;
}

section {
    padding: 100px 20px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#home {
    background-color: #aae3f5;
}

h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.countdown {
    font-size: 2rem;
    margin-bottom: 30px;
}

.cta-btn {
    padding: 10px 20px;
    font-size: 1.2rem;
    background-color: #e296a5;
    color: white;
    border: none;
    cursor: not-allowed;
}

section:nth-of-type(even) {
    background-color: #f0f0f0;
}

section:nth-of-type(odd) {
    background-color: #a5d6df;
}

/* Sección de dos columnas en la página de Papá Noel */
.columns {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
}

.left-column, .right-column {
    flex-basis: 48%; /* Cada columna toma aproximadamente el 48% del espacio */
}

/* Ajusta la galería de imágenes */
.left-column img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.right-column {
    font-size: 1.2rem;
    line-height: 1.5;
    text-align: justify;
}

/* Aseguramos que se ajusten bien en pantallas pequeñas */
@media (max-width: 768px) {
    .left-column, .right-column {
        flex-basis: 100%; /* Las columnas se apilan en pantallas más pequeñas */
    }
}

