/* Barra de navegación */
#barra-nav {
    top: 0;
    left: 0;
    position: fixed;
    display: flex;
    align-items: center;
    height: fit-content;
    background: rgba(190, 224, 190, 0.7); 
    width: 100%;
    box-sizing: border-box;
    justify-content: center;
}

#barra-nav h2 {
    line-height: 0.8; 
    margin: 0; /* Elimina el margen */
    padding: 0 20px; /* Añade padding horizontal */
    color:#004d40
    
}

.nav-logo {
    display: flex;  /*Ponemos el logo y el título en fila*/
    
}

.nav-menu {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: center;
}

.atrib-menu  {
    margin: 20px 20px 20px 0;
    text-align: center;
    text-decoration: none;
    color: #0a0101; 
    
}

.atrib-menu:hover{    /*Solo cuando pasas el ratón por encima*/
    text-decoration: underline;
}

.titulo {
    margin-left: 10px;
    margin-right: 0px;
    height: auto;
    box-sizing: border-box;
    color: #01030f; 
}

.auth-buttons {
    display: flex;
    padding-left: 10px;
    gap: 10px;
    margin-right: 5%;
    

}

.login-btn{
    padding: 5px 10px;
    border:none;
    background-color: #004d40;
    color: #fff;
    cursor: pointer;    /*Cambiamos cursor al pasar por los botones de inicio sesión y registro*/
    
}


/*formulario pop-up*/
.form-popup{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    width: 90%;
    max-width: 400px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    background-color: #00796bce; 
}
.form-popup h2{
    color: #fff;
    text-align: center;
    box-shadow: #004d40;
}
.formulario {
    background-color: #e0f7fa;
    padding: 20px 20px;
}

.formulario-input{
    padding : 10px;
    width: 90%;
}

.login-btn, .register-btn, .cancel-btn, .clear-btn{
    letter-spacing: 20%;
    text-transform: uppercase;
    margin: 5% 0 5% 0;

}



/* Sección de inicio */
#home {
    background-color: #e0f7fa;
    color: #00796b; 
    padding: 200px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    border: 1px solid #ccc;
    border-radius: 10px;
}

/* Sección de Papá Noel */
#papa_noel {
    padding: 50px;
    background-color: #6da78f; 
    text-align: center;
    border-radius: 10px;
}

#papa_noel h2 {
    margin-top: 50px;
    color:  #c8f0e1;
}
h1{
    color:#004d40;
    font-size: 48px;
}
.papa-noel-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

/* Columna Izquierda: Imagen de Papá Noel */
.papa-noel-image img {
    width: 100%;
    max-width: 600px;       /*Para que no haya problemas a la hora de hacer la ventana más pequeña*/
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);  /*Da un sombreado de la imagen sobre el fondo*/
}

/* Columna Derecha: Texto sobre Papá Noel */
.papa-noel-text {
    max-width: 600px;
    text-align: left;
    padding: 20px;
    background-color: #fefefe;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.papa-noel-text h3 {
    margin-bottom: 15px;
    font-size: 1.5em;
    color: #d32f2f; 
}

.papa-noel-text p {
    line-height: 1.6;
    font-size: 1em;
    margin-bottom: 20px;
}

.papa-noel-text span {
    font-weight: bold;
    color: #d32f2f; 
}


/* Sección de Cartas */
#cartas {
    background-color: #e0f7fa;
    color: #00796b; 
    padding: 200px;
    text-align: center;
    font-size: 100px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.sección1-cartas {
    display: flex;
    flex-direction: column;
    text-align: center;
}

h2 {
    font-size: 40px;
    font-style: italic;
    color: #121331;
}

.cartas-image img {
    width: 100px; 
    height: auto;
}

#cartas h3 {
    font-size: 20px;
    color: #555;
}

.sección2-cartas {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Crea tres columnas de igual tamaño */
    gap: 10px; /* Espacio entre las columnas */
}

.carta {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px; ;
    text-align: left;
    box-sizing: border-box;
    box-shadow: inset -5px 5px 50px #4ca09c88,
                inset 5px -5px 50px #ffffff;
}

.carta h4 {
    font-size: 18px;
    color: #333;
}

.carta p {
    margin: 5px 0;
    font-size: 14px;
    color: #666;
}

/* Sección de Contacto */
#contacto {
    text-align: center ;
    background-color: #6da78f; 
    border-radius: 10px;
    align-items: center; 
    height: 100vh; /* Asegura que el contenedor ocupe toda la altura de la ventana */
    padding-top: 15%
}
#contacto h2 {
    color:  #c8f0e1; 
}

.Formulario-carta {
    margin-left: 33%;
    flex: 1; /* Para ocupar ttodo el espacio disponible del formulario */
    max-width: 600px; 
    display: block;
    flex-direction: column;
    align-items: center;
}

.caja-formulario {
    margin-bottom: 5%;
    border: none;
    border-bottom: 5px solid #4f9269;
    background: #e0f7fa;
    width: 100%;
    height: 200%;
}

.texto-carta {
    width: 75%;
    height: 20%;
    padding: 5%;
    border: none;
    border-bottom: 5px solid #4f9269;
    background: #e0f7fa;
}
.enviar-form{
    margin-top: 50px;
    padding: 10px 20px;
    color: #c8f0e1;
    background-color: #5c947e; 
    letter-spacing: 20%;
    text-transform: uppercase;
    margin: 5% 0 5% 0;
    cursor: pointer;
    transition: background-color 0.3s; /*Crea el efecto al pulsar el boton*/
}

.form-image {
    padding-left: 10%;;
}

.contacto-container {
    display: flex;
}

/* Sección de Juego */
#juega {
    padding-top: 200px ;
    background-color: #e0f7fa; 
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh; 
}

.juego-container {
    display: flex;
    flex-direction: row; /*Se pone en columnas*/
    width: 100%;
    max-width: 1200px;
    gap: 100px;
    align-content: center;
}

.Titulo-Juego {
    padding: 20px;
    text-align: center;
    width: 100%;
}

.Titulo-Juego h2 {
    font-size: 36px;
    color: #00796b; 
    margin-bottom: 10px;
}

.Titulo-Juego h3 {
    font-size: 24px;
    color: #004d40; 
    margin-bottom: 20px;
}

.botones-juego {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.botones-juego button, #boton-jugar {
    padding: 10px 20px;
    font-size: 100%;
    color: #fff;
    background-color: #00796b; 
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.botones-juego button:hover {
    background-color: #004d40; 
}

.Imagenes-Juego {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.Imagenes-Juego img {
    border-radius: 10px;
    border: 2px solid #00796b; 
}

.Imagenes-Juego button:hover {
    background-color: #004d40; 
}







/* Contenedor del juego */
.game-container {
    display: none; /* Oculto por defecto */
    background-color: #f9f9f9; /* Fondo claro */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra */
    text-align: center;
    margin-top: 20px;
}

/* Título del juego */
.game-container h1 {
    font-size: 24px;
    color: #00796b; /* Color verde oscuro */
    margin-bottom: 10px;
}

/* Texto del juego */
.game-container .text {
    font-size: 18px;
    color: #333;
    margin-bottom: 10px;
}

/* Área del juego */
#gameArea1, #gameArea2, #gameArea3 {
    position: relative;
    width: 100%;
    height: 300px;
    background-color: #e0f7fa; /* Fondo azul claro */
    border: 2px solid #00796b; /* Borde verde oscuro */
    border-radius: 10px;
    overflow: hidden;
    margin-top: 20px;
}

/* Imagen de Papá Noel */
.CARAPAPANOEL1 {
    position: absolute;
    width: 35%;
    height: 25%;
    animation: bounce-slow 2s infinite;
}

@keyframes bounce-slow {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(200%);
    }
}
.CARAPAPANOEL2 {
    position: absolute;
    width: 35%; 
    height: 25%;
    animation: bounce-medium 2s infinite;
}


@keyframes bounce-medium {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(300%);
    }
    75% {
        transform: translateY(100%);
    }
    75% {
        transform: translateX(-100%);
    }
}

.CARAPAPANOEL3 {
    position: absolute;
    width: 35%; 
    height: 25%;
    animation: bounce-rapido 2s infinite;
}

@keyframes bounce-rapido {
    100%, 100% {
        transform: translateY(0);
    }
    75% {
        transform: translateY(100%);
    }
    20% {
        transform: translateX(-200%);
    }
    50% {
        transform: translateY(300%);
}
}


/* Área de fin del juego */
#gameOver1, #gameOver2, #gameOver3 {
    display: none; /* Oculto por defecto */
    margin-top: 20px;
}


/* Pie de página */
.pie-pagina {
    display: flex;
    background-color: #2c3e50;
    
}

.lista-enlaces-pie{
    list-style: none;
    margin-left: 40% ;
}

.Enlaces-pie{
    color: #e0f7fa;
    text-decoration: none;
    
}
.Enlaces-pie:hover{
    
    text-decoration: underline;
    
}


@media only screen and (max-width: 768px) and (min-width: 601px){
    #barra-nav {
        flex-direction: column; /* Cambiamos lña disposición a columnas para que quede mejor en movil y tablet */
        height: auto;
        justify-content: center;
    }
    
    .nav-menu {
        text-align: center;
        margin: 1% 0 1% 0 ;
    }

    .nav-logo{
        display: none; /*Quitamos el logo, que nos ha dado muchos problemas*/
    }

    .titulo{
        justify-content: center;
        margin: 1% 0 1% 0;
    
    }
    .auth-buttons {
        margin: 20px 0; 
        justify-content: center;
        margin: 0 0 1% 0;
    }
    
    .atrib-menu {
        margin: 10px ;
        font-size: 15px;
    }

    /* Sección de inicio */
    #home {
        padding: 100px 10px; 
        font-size: 24px;
    }

    /* Sección de Papá Noel */
    .papa-noel-container {
        flex-direction: column; /* Dispone en columna las imágenes y textos */
        gap: 20px;
    }

    .papa-noel-image img {
        max-width: 100%;
    }

    .papa-noel-text {
        padding: 10px;
    }

    /* Sección de Cartas */
    .sección2-cartas {
        grid-template-columns: 1fr 1fr; /* Dos columnas */
    }

    /* Sección de Contacto */
    .Formulario-carta {
        width: 80%; 
    }

    /* Sección de Juego */
    .juego-container {
        flex-direction: column; 
        align-items: center;
    }

    .botones-juego {
        flex-direction: row;
        flex-wrap: wrap; /* Alinea los botones en fila */
        justify-content: center;
    }

    .Imagenes-Juego img {
        width: 250px;
        height: 150px;
    }

    #boton-jugar {
        margin-bottom: 2%;
    }

    /* Pie de página */
    .pie-pagina {
        flex-direction: column;
        align-items: center;
    }

    .lista-enlaces-pie {
        margin-left: 0;
        text-align: center;
    }
}


    
@media only screen and (max-width: 601px) {

    /* Barra de navegación */
    #barra-nav {
        flex-direction: column; 
        height: auto;
        padding: 10px;
    }
    
    .nav-logo {
        display: none; 
    }

    .titulo {
        font-size: 1.2em;
        text-align: center;
        margin: 10px 0;
    }

    .nav-menu {
        display: flex;
        gap: 2%;
        align-items: center;
        padding: 0;
        margin: 0;
    }

    .atrib-menu {
        margin: 5px 0;
        font-size: 14px;
    }

    .auth-buttons {
        display: flex;
        gap: 10px;
        justify-content: center;
        margin-top: 10px;
    }

    /* Sección de inicio */
    #home {
        padding: 50px 10px; 
        font-size: 20px;
    }

    /* Sección de Papá Noel */
    .papa-noel-container {
        flex-direction: column;
        gap: 10px;
    }

    .papa-noel-image img {
        max-width: 100%;
    }

    .papa-noel-text {
        padding: 10px;
        font-size: 14px;
    }

    /* Sección de Cartas */
    .sección2-cartas {
        display:grid;               
        grid-template-columns: 1fr; /* Una columna */
        gap: 20px;
    }

    .carta {
        padding: 15px;
    }

    /* Sección de Contacto */
    .Formulario-carta {
        width: 90%; 
        margin-left: 5%;
        margin-right: auto;
    }

    /* Sección de Juego */
    .juego-container {
        flex-direction: column; 
        align-items: center;
    }

    .botones-juego {
        flex-direction: column; 
        gap: 10px;
        justify-content: center;
        width: 100%;
    }

    .Imagenes-Juego img {
        width: 200px;
        height: 120px;
    }

    /* Pie de página */
    .pie-pagina {
        flex-direction: column;
        align-items: center;
    }

    .lista-enlaces-pie {
        margin-left: 0;
        text-align: center;
    }

}
